mkdocs>=1.1
mkdocs-gen-files
mkdocs-literate-nav
mkdocs-material>=5.0
mkdocstrings
mkdocstrings-python
pymdown-extensions
-e ./
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability